*{
  box-sizing: border-box;
}


@font-face {
    font-family: "Moon";
    src: url("fonts/Moon Light.otf");
}


@font-face {
    font-family: "Moon Bold";
    src: url("fonts/Moon Bold.otf");
}

@media only screen and (device-width: 768px) {
  /* For general iPad layouts */
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
  /* For portrait layouts only */
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
  /* For landscape layouts only */
}




body {
    font-family: "Montserrat";
    line-height: 160%; 
    font-size: 18px; 
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 0;
    background-color: #FDEDEC;
    color: #333300;
}

svg {
    margin-top: 100px;
    z-index: 10;
}



header{
position: fixed;
    width: 100%;
    z-index: 10;
    z-index: 8;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background-color: transparent;
/*    background-color: #FDEDEC;*/
    
    display: flex;
    align-items: center;

}

/*
header li{
    display: inline-block;

    font-family: "Moon Bold"; 
    
}
*/
header img{
    height: 80px;

    margin-left: 40px;
    margin-bottom: 40px;
    justify-content: center;
}

header * {
    display: inline;
}



/*----------------------------------------------------*/



#title {
    padding-bottom: 50px;
    height: 100%;
    vertical-align: middle;
}

nav {
    font-family: "Moon Bold"; 
    display: inline;
    margin: 20px;
    display: flex;
    align-items: center;
}

#title-image {
    width: 1000px;
    padding-top: 80px;
    padding-left: 200px;
/*    padding-bottom: 150px;*/
}

#title-line{
   line-height: 150%; 
   width: 1500px;
   padding: 80px;
    text-align: center;
}

quote {
    width:50vw;
    font-style: italic;
    font-family: "Playfair";
    font-size: 35px;
    line-height: 120%;
    padding: 100px 10px; 
    text-align: center;
    opacity: 0.6;
}


button {
    min-height: 3vh;
    font-family: "moon";
    font-size: 26px;
    font-weight: 500;
/*    color: #669999;*/
/*    border-color: #669999;*/
    color:aliceblue;
    background-color: #669999;
    opacity: 0.6;
    width: 10vw;
    transition: 0.2s;
    cursor: pointer;
    margin: 2vh 2vw;
/*    border: 2px solid #669999;*/
    border-radius: 50px;
/*    display: flex;*/
/*	justify-content: center;*/
/*	align-items: center;*/

}

button:hover {
    opacity: .9;

    border-radius: 50px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

button a {
  color: aliceblue;
}


/*---------------------- intro page -------------------*/

holder{
    position: absolute;
    width: 100%;

    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    align-content: stretch;
}



central-content {
    position: relative;
    z-index: 5;
    width:90vw;
    background: transparent;
    margin-bottom: 2vh;
    transition: 0.3s;

    display: flex;
    flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
    align-content: stretch;
}


.content {
    position: absolute;
    top: 1vh;
    width: 80%;
    background: #FDEDEC; 
    display: flex;
    flex-flow: column nowrap;
	justify-content: center;
    justify-items: stretch;
	align-items: center;
	align-content: center;
    z-index: 8;
}

.function {
    font-weight: 600;
}

.solution {
    font-weight: 500;
}

#security {
    font-style: italic;
    color: #669999;
}

#our-story {
    width: 80%;
    padding-top: 70px;
}

/*----------------------- demo -----------------------*/



#text-input {
    position: fixed;
    bottom: 0;
    width:100%; 
}


input {
/*    border: 1px dotted #ccc; */
    border: none;
    width: 600px;
    background: transparent; 
    padding: 5px 5px; 
    font-size: 25px; 
    margin: 10px 10px; 
    opacity: 0.6;
/*    color: coral;*/
/*    box-shadow: 5px 5px 10px rgba(0,0,0,0.1);*/
}

#submit-button {
    transition: 0.2s;
    cursor: pointer;
    margin: 2vh 2vw;
    min-height: 3vh;
    width: 10vw;
    font-family: "moon";
    font-size: 26px;
    
    background-color:  transparent;
    color: #669999;
    border: 2px solid #669999;
    border-radius: 50px;
}

#submit-button:hover {
    font-weight: 600;
    background-color:  transparent;
    color: #669999;
}

input:toggle { 
/*    background-color:yellow; */
    color: coral;
    outline: none;
}

playground{
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 0;
}

.questionaire-input {
    border: 1px dotted #ccc; 
    border: none;
    background: white; 
    padding: 5px 5px; 
    font-size: 14px; 
    margin: 0 10px 0 0; 
    color: #5F6A6A;
}

questionaire {
    position: fixed;
    bottom: 0%;
/*    padding-top: 30px;*/
    width: 100%;
    line-height: 15px;
    background-color: transparent;
}

/*----------------------- text -----------------------*/

h1 {
    font-weight: 200;
    line-height: 100%;
}
h2 {
    font-weight: 200;
    line-height: 180%;
}

h3 {
    font-weight: 300;
    line-height: 180%;
}

/*text*/
#myInput {
    font-family: Montserrat;
}


/*media contents*/

video {
    padding: 200px, 100px;
}
.hiding {
    display: none;
}

.box {
    display: flex;
    padding: 20px 10px; 
}


.container {
    background-color: transparent;
    font-weight: 300;
    font-size: 22px;
    width: 100%;
    margin-bottom: 2vh;
    transition: 0.3s;
    margin: 1vh 3vw 2vh 3vw;

    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
}


guide {
    position: absolute;
    max-width: 40vw;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
    z-index: 8;
    opacity: 0.8;
    line-height: 20px;
} 

analysis {
    position: absolute;
    font-size: 12px;
    max-width: 40vw;
    line-height: 16px;
    padding: none;
    
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
    align-content: flex-start;
    
    z-index: 8;
    opacity: 0.6;
}

.feature {
/*    padding-bottom:2px;*/
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    justify-items: center;
}

.feature h4 {
    color: coral;
    font-size: 14px;
    width: 120px;
}



.active {
    color: coral;
    outline: none;
}


#nodeCounter {
    font-size: 15px;
    color: coral;
}

circle {
    fill: coral;
    opacity: 0.7;
/*    stroke: aliceblue;*/
    stroke-width: 1.5px;
}

text {
      font: 11px "helvetica";
      pointer-events: none;
      color: #333300;
      opacity: 0.5;
/*      text-shadow: 0 1px 0 aliceblue, 1px 0 0 aliceblue, 0 -1px 0 aliceblue, -1px 0 0 aliceblue;*/
      color: #5F6A6A;
      text-shadow: 0 1px 0 aliceblue, 1px 0 0 aliceblue, 0 -1px 0 aliceblue, -1px 0 0 aliceblue;
      width: 5px;
}

.link {
      fill: none;
      fill: #669999;
      stroke-width: 2px;
    
     opacity: .6;
}

line {
     stroke: steelblue;
     stroke-width: 2px;
     stroke-linecap: round;
}

textarea {
    -webkit-appearance: none;
    border: none;
    margin: 1vw 0px 0px 0px;
    width: 36vw;
    background-color: rgb(240,240,240);
    padding: 4px;
}

.form-item {
    font-size: 14px;
    margin: 2vh 0vw;
    display: block;
    width: 36vw;
    font-weight: 200;
}

.form-item input {
    margin: 5px 0px 5px 0px;
    box-sizing: border-box;
    width: auto;
}


label {
    margin-right: 15px;
}
