* {
  box-sizing: border-box;
}

body {
    font-family: "helvetica"; 
    line-height: 160%; 
    font-size: 18px; 
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 0;
}

svg {
    margin-top: 100px;
}

h3 {
    font-family: moon;
}
header{
    position: fixed;
    width: 100%;
    z-index: 10;
    
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    
    background-color: white;
    
    display: flex;
    align-items: center;
    
    box-shadow: 0 0 15px 0 grey;
    font-family: moon;
}

header img{
    height: 30px;
    margin-left: 40px;
}

header * {
    display: inline;
}

#tutorialimg8{
/*    max-width: 70%;*/
    display: block;
    max-width: 80%;
}

#tutorialimg9{
/*    max-width: 70%;*/
    display: block;
    max-width: 100%;
}

header li{
/*    display: inline-block;*/
    text-transform: uppercase;
    margin: 20px;
}

header li a{
    color: black;
    text-decoration: none;
}

header li:hover {
  color: #DBE9EE;
}

input {
    border: 1px dotted #ccc; 
    background: white; 
    font-family: "Baskerville"; 
    padding: 10px 20px; 
    font-size: 14px; 
    margin: 20px 10px 20px 0; 
    color: black;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
}

input:focus { 
    background-color:yellow; 
    outline: none;
}

central-content {
    top: 0;
    min-height: 12vh;
    font-family: "coves";
    font-weight: 500;
    font-size: 22px;
    background-color: white;
    width: 50vw;
    padding: 5vw 2vw 0 5vh;
/*    margin-bottom: 2vh;*/
    transition: 0.3s;

/*    box-shadow: 5px 5px 10px rgba(0,0,0,0.1);*/

    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
}

.button {
    min-height: 12vh;
    font-family: "moon";
    font-weight: 500;
    background-color: white;
    opacity: 0.5;
/*    top: 100px;*/
    width: 10vw;
    margin-top: 100px;
/*    margin: 0 2vw 2vh 2vw;*/
/*    padding: 1vw;*/
    transition: 0.3s;
/*    box-shadow: 5px 5px 10px rgba(0,0,0,0.1);*/
/*    border-radius: 5px;*/
    cursor: pointer;
    border: 4px solid white;

    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.button:hover {
    opacity: 1;
}

button-page1 {
    
}

instruction {
    position: absolute;
    top: 0;
    width: 100%;
    
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: flex-start;
    align-content: stretch;
}


circle {
    fill: #ccc;
    stroke: #333;
    stroke-width: 1.5px;
}

h2{
    position: center; 
}

text {
      font: 10px sans-serif;
      pointer-events: none;
      text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
      width: 5px;
}

.link {
      fill: none;
      stroke: black;
      stroke-width: 1.5px;
}

line {
     stroke: steelblue;
     stroke-width: 2px;
     stroke-linecap: round;
}