*{
  box-sizing: border-box;
}


@font-face {
    font-family: "Moon";
    src: url("fonts/Moon Light.otf");
}


@font-face {
    font-family: "Moon Bold";
    src: url("fonts/Moon Bold.otf");
}

@media only screen and (device-width: 768px) {
  /* For general iPad layouts */
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
  /* For portrait layouts only */
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
  /* For landscape layouts only */
}

body {
<<<<<<< HEAD
    font-family: "Montserrat";
=======
    font-family: "Myriad Pro";
>>>>>>> 82183c62247023303f3714e2ac6f0b9c09dd2a10
    line-height: 160%; 
    font-size: 18px; 
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 0;
    background-color: #FDEDEC;
    color: #5F6A6A;
}

svg {
    margin-top: 100px;
    z-index: 10;
/*    position: fixed;*/
}

<<<<<<< HEAD

=======
h2{
    position: center; 
}

#intro-text{
    font-size: 22px;
    font-family: "Text Me One";
    font-weight: normal;
}

h3 {
    font-family: moon;
}

h4 {
    font: 15px moon;
}

h5 {
    font-size: 16px;
    font-style: italic;
}

p {
    font-family: "Text Me One";
    font-weight: 100;
}

#myInput {
    font-family: roboto;
}
>>>>>>> 82183c62247023303f3714e2ac6f0b9c09dd2a10
header{
position: fixed;
    width: 100%;
<<<<<<< HEAD
    z-index: 10;
    
=======
    z-index: 8;

>>>>>>> 82183c62247023303f3714e2ac6f0b9c09dd2a10
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    
<<<<<<< HEAD
    background-color: transparent;
=======
/*    background-color: #FDEDEC;*/
>>>>>>> 82183c62247023303f3714e2ac6f0b9c09dd2a10
    
    display: flex;
    align-items: center;

}

header li{
/*    display: inline-block;*/

    font-family: "Moon Bold"; 
    margin: 20px;
}
header img{
<<<<<<< HEAD
    height: 80px;
/*
    margin-top: 200px;
    margin-left: 40px;
    margin-bottom: 40px;
*/
=======
    height: 280px;
    margin-top: 200px;
    margin-left: 40px;
    margin-bottom: 40px;
>>>>>>> 82183c62247023303f3714e2ac6f0b9c09dd2a10
    justify-content: center;
}

header * {
    display: inline;
}

heading {
    padding: 15vw 2vw 0 5vh;
    align-items: center;
}

#title-image {
    width: 500px;
/*    padding-bottom: 50px;*/
}

#title {
    padding-bottom: 50px;
}

#tutorialimg8{
/*    max-width: 70%;*/
    display: block;
    max-width: 80%;
}

#tutorialimg9{
/*    max-width: 70%;*/
    display: block;
    max-width: 100%;
}


input {
/*    border: 1px dotted #ccc; */
    border: none;
    background: transparent; 
    padding: 5px 5px; 
    font-size: 14px; 
    margin: 0 10px 0 0; 
/*    color: coral;*/
/*    box-shadow: 5px 5px 10px rgba(0,0,0,0.1);*/
}

input:toggle { 
/*    background-color:yellow; */
    color: coral;
    outline: none;
}

<<<<<<< HEAD

h1 {
    font-weight: 200;
    line-height: 100%;
}
h2 {
    font-weight: 200;
    line-height: 180%;
}

h3 {
    font-weight: 300;
    line-height: 180%;
=======
nav *{
    flex-direction: column;
	flex-wrap: nowrap;
    font-family: "Text Me One;
>>>>>>> 82183c62247023303f3714e2ac6f0b9c09dd2a10
}

holder{
    position: absolute;
    width: 100%;

    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    align-content: stretch;
}

quote {
    width:50vw;
    font-style: italic;
    font-family: "Century";
    font-size: 29px;
    line-height: 120%;
    padding: 200px 10px; 
}

central-content {
    position: relative;
    z-index: 5;
    width:90vw;
    background: transparent;
    padding: 15vw 2vw 0 5vh;
    margin-bottom: 2vh;
    transition: 0.3s;

    display: flex;
    flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
    align-content: stretch;
}


.content {
    position: absolute;
<<<<<<< HEAD
    top: 1vh;
=======
    top: 38vh;
>>>>>>> 82183c62247023303f3714e2ac6f0b9c09dd2a10
    width: 80%;
    background: #FDEDEC; 
    display: flex;
    flex-flow: column nowrap;
	justify-content: center;
    justify-items: stretch;
	align-items: center;
	align-content: center;
    z-index: 8;
}




/*media contents*/

video {
    padding: 200px, 100px;
}
.hiding {
    display: none;
}

.box {
    display: flex;
    padding: 20px 10px; 
}
#demo-content{
    display: flex;
    align-items: baseline;
}

.container {
    background-color: transparent;
    font-weight: 300;
    font-size: 22px;
    width: 100%;
    margin-bottom: 2vh;
    transition: 0.3s;
    margin: 1vh 3vw 2vh 3vw;

    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
}



playground {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
}


guide {
    position: absolute;
    max-width: 40vw;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
    z-index: 8;
    opacity: 0.8;
    line-height: 20px;
} 

analysis {
    position: absolute;
    font-size: 12px;
    max-width: 40vw;
    line-height: 16px;
    padding: none;
    
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
    align-content: flex-start;
    
    z-index: 8;
    opacity: 0.6;
}

.feature {
/*    padding-bottom:2px;*/
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    justify-items: center;
}

.feature h4 {
    color: coral;
    font-size: 14px;
    width: 120px;
}

button {
/*    min-height: 12vh;*/
<<<<<<< HEAD
    font-family: "moon bold";
=======
    font-family: "moon";
>>>>>>> 82183c62247023303f3714e2ac6f0b9c09dd2a10
    font-size: 16px;
    font-weight: 500;
    background-color: transparent;
    opacity: 0.3;
    width: 10vw;
    transition: 0.2s;
    cursor: pointer;
    margin: 2vh 2vw 2vh 2vw;

/*    display: flex;*/
/*	justify-content: center;*/
/*	align-items: center;*/

}

button:hover {
    opacity: 1;
}

.active {
    color: coral;
    outline: none;
}

#pagecounter {
    position: absolute;
    bottom: 5vh;
    left: 5vh;
    font-family: moon;
    font-size: 36;
}

#questionholder {
    position: absolute;
    bottom: 5vh;
    right: 5vh;
}

#question-icon:hover {
    border: rgba(255,255,255, 1);
}


#question-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 5vh;
    width: 5vh;
    border-radius: 2.5vh;
    background-color: transparent;
    border: 2px solid rgba(200,200,200, 0.5);
    box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
    background: transparent;
    padding-bottom:2px;
    cursor: pointer;
    transition: 0.2s;
    font-weight: 800;
    color: grey;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    align-content: stretch;
    z-index: 1;
}

#question-answer {
    z-index: 100;
    width: 30vw;
    height: 20vh;
    display: block;
    background: transparent;
    border-radius: 2.5vh;
    opacity: 1;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
    padding: 2vh;
}

#nodeCounter {
    font-size: 15px;
    color: coral;
}

circle {
    fill: coral;
    opacity: 0.7;
/*    stroke: aliceblue;*/
    stroke-width: 1.5px;
}

text {
      font: 11px "helvetica";
      pointer-events: none;
<<<<<<< HEAD
      color: #333300;
      opacity: 0.5;
/*      text-shadow: 0 1px 0 aliceblue, 1px 0 0 aliceblue, 0 -1px 0 aliceblue, -1px 0 0 aliceblue;*/
=======
      color: #5F6A6A;
      text-shadow: 0 1px 0 aliceblue, 1px 0 0 aliceblue, 0 -1px 0 aliceblue, -1px 0 0 aliceblue;
>>>>>>> 82183c62247023303f3714e2ac6f0b9c09dd2a10
      width: 5px;
}

.link {
      fill: none;
      fill: #669999;
      stroke-width: 2px;
    
     opacity: .6;
}

line {
     stroke: steelblue;
     stroke-width: 2px;
     stroke-linecap: round;
}

textarea {
    -webkit-appearance: none;
    border: none;
    margin: 1vw 0px 0px 0px;
    width: 36vw;
    background-color: rgb(240,240,240);
    padding: 4px;
}

.form-item {
    font-size: 14px;
    margin: 2vh 0vw;
    display: block;
    width: 36vw;
    font-weight: 200;
}

.form-item input {
    margin: 5px 0px 5px 0px;
    box-sizing: border-box;
    width: auto;
}

.questionaire-input {
    border: 1px dotted #ccc; 
    border: none;
    background: white; 
    font-family: Moon; 
    padding: 5px 5px; 
    font-size: 14px; 
    margin: 0 10px 0 0; 
    color: #5F6A6A;
}
questionaire {
/*    padding-top: 30px;*/
    width: 100%;
    line-height: 15px;
    background-color: #FDEDEC;
}

label {
    margin-right: 15px;
}
